body {
  background-color: #111;
  color: #eee;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 40px;
}

.dashboard-header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #f4b35b; 
  margin-bottom: 10px;
}

.dashboard-header p {
  font-size: 14px;
  opacity: 0.8;
}

.header-buttons {
  margin-top: 20px;
}

.header-buttons button {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transition: 0.3s;
  margin: 0 5px;
}

.order-btn {
  background-color: #f4b35b;
  color: #111;
  font-weight: 600;
}

.order-btn:hover {
  background-color: #ffca7a;
}

.update-btn {
  background-color: #222;
  border: 1px solid #444;
  color: #eee;
}

.update-btn:hover {
  background-color: #333;
}

.cards-row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background-color: #181818;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0px 0px 10px #00000055;
  border: 1px solid #222;
}

.card h3 {
  font-size: 15px;
  font-weight: 600;
  color: #f4b35b;
  margin-bottom: 5px;
}

.card .value {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
}

.card small {
  opacity: 0.7;
}

.activity-section,
.promotions-section {
  background-color: #181818;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #222;
  box-shadow: 0px 0px 10px #00000055;
}

.activity-section h3,
.promotions-section h3 {
  color: #f4b35b;
  font-size: 18px;
  margin-bottom: 15px;
}

.activity-list {
  font-size: 14px;
}

.activity-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #222;
  opacity: 0.9;
}

.activity-item:last-child {
  border-bottom: none;
}

.promotions-section img {
  width: 100%;
  height: 160px;
  /* object-fit: cover; */
  border-radius: 10px;
  margin-bottom: 12px;
   object-fit: contain; 
  object-position: center; 
  display: block; 
}

.offer-btn {
  background-color: #f4b35b;
  color: #111;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.offer-btn:hover {
  background-color: #ffc46a;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
