body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #0b0b0b 0%, #141214 60%);
  color: #eee;
  font-size: 14px;
  /* font-family: allura; */
  --safe: 16px;
  /* padding: 40px 32px; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
