:root {
  --color-primary-bg: #fff; 
  --color-secondary-bg: #fff9f3; 
  --color-tertiary-bg: #fff3e4; 

  --color-text-primary: #333; 
  --color-text-secondary: #555; 

  --color-heading: #eed7bb; 

  --color-brand-accent: #ffb23f; 
  --header-bg: #924d11; 
  --header-text: #ffffff;
}

body.light-theme {
  background-color: var(--color-primary-bg);
  color: var(--color-text-primary);
  transition: all 0.4s ease;
}

body.dark-theme {
  --color-primary-bg: #2e1c0a; 
  --color-tertiary-bg: #4e3824; 
  --header-bg: #3e2a18;
  --color-secondary-bg: var(--header-bg); 

  --color-text-primary: #f0e5d4; 
  --color-text-secondary: #d9c5a8; 
  --color-heading: #ffd7a8; 
  --color-brand-accent: #e49f33; 
  --header-text: #f0e5d4; 

  background-color: var(--color-primary-bg);
  color: var(--color-text-primary);
  transition: all 0.4s ease;
}

body.dark-theme .cta-section {
  background: var(--color-tertiary-bg);
  color: var(--color-text-primary); 
}

body.dark-theme .cta-section .btn-light {
  background: var(--color-text-primary);
  color: var(--color-tertiary-bg); 
}

body.dark-theme .product-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
.dark-theme .about-us-container,
.dark-theme .about-us-container .card,
.dark-theme .about-us-container .timeline-content {
  color: #ffffff !important;
}

body.light-theme .wrapper-black,
body.light-theme .wrapper-black .cart-row-dark,
body.light-theme .wrapper-black .cart-info,
body.light-theme .wrapper-black .sum-item,
body.light-theme .wrapper-black input,
body.light-theme .wrapper-black .qty-box button {
  color: black !important;
}
body.light-theme .wrapper-black,
body.light-theme .wrapper-black .light-box,
body.light-theme .wrapper-black .left-box {
  color: black !important;
}
body.light-theme .left-box,
body.light-theme .right-box,
body.light-theme .back-btn,
body.light-theme .qty-box button {
  background-color: #ffffff;
  color: black;
  border: 1px solid #ccc;
}
body.light-theme input,
body.light-theme textarea,
body.light-theme .right-box,
body.light-theme .right-box .sum-item,
body.light-theme .cart-row-dark,
body.light-theme .ship-card {
  background-color: #ffffff;
  border: 1px solid #ccc;
}
body.light-theme .title-center {
  color: #855e42;
}
body.light-theme .order-message {
  background-color: #924d11;
}

a {
  color: inherit;
  text-decoration: none;
}
